.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .search-form {
    top: 0;
    max-width: 50%;
    display: flex;
    /* Center it */
    align-items: center;
    margin: 0 auto; 

    position: fixed;
    margin-top: 100px;
    margin-left: 400px;
    
    margin-bottom: 20px;
    /* background-color: rgba(129, 129, 129, 0.25); */
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    background-color: #666;
    padding: 40px;
    font-size: 25px;
  }

  .search-form{
    div.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: #666;
      padding: 40px;
      font-size: 25px;
    }
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .games-list {
    margin-top: 20px;
  }
  
  .games-list h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .games-list p {
    margin-top: 0;
    font-size: 14px;
  }
  
  .games-list hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  /* Estilos para la lista de juegos */
.games-list {
    margin-top: 20px;
  }
  
  .game-title {
    font-size: 18px;
    margin: 0;
    /* center */
    text-align: center;
  }
  
  .game-info {
    margin: 5px 0;
  }
  
  .label {
    font-weight: bold;
  }
  
  .game-image {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .game-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  /* Estilos para los botones de paginación */
  .pagination {
    top: 0;
    max-width: 50%;
    display: flex;
    
    margin-top: 20px;
    text-align: center;
    /* Center it vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 45%;
    margin-left: 45%;

  }
  
  .pagination-button {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    /* Center it*/
    
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .game-item {
    flex-basis: calc(33.33% - 10px);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Agrega una transición para suavizar el efecto */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game-item h3,
.game-item p,
.game-item img,
.game-item a {
  text-align: center;
}

  .game-item:hover {
    box-shadow: 0 0 1000px rgba(255, 0, 0, 0.3); /* Agrega el sombreado cuando se pasa el ratón por encima */
    background-color: rgba(40, 73, 106, 0.5); /* Cambia el color de fondo gradualmente */

  }

  /* Menu bar */
  /* body { cursor: crosshair; } */

  @import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }

body {
	background-color: #345;
	background-image: linear-gradient(to top, #345, rgb(11, 24, 38));
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}
code {
	background: #fff1;
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}

.content {
	background-color: #fff;
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}
.content ul {
	margin: .5em 2em;
	padding: 0;
}

#footer {
	background-color: #246c;
	background-image: linear-gradient(to bottom, transparent, #0009);
	border-top: 1px solid #fff3;
	box-shadow: inset 0 1px 0 #fff3, 0 0 32px #000;
	overflow: hidden;
	padding: 8px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9001;
}
#footer a {
	color: #85c6f6;
	padding: 1em 0;
	text-decoration: none;
}
#footer ul {
	display: flex;
	list-style: none;
	justify-content: center;
	font-size: 2em;
	font-weight: 300;
}
#footer ul li {
	padding: 0 .5em;
}

/* Appearance */
.links {
	background-color: #123;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 2em;
	font-weight: 300;
}
.links > a {
	color: #9ab;
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links > a:hover {
	background: #ffffff06;
	color: #adf;
}
.links > .line {
	background: #68a;
	height: 1px;
	pointer-events: none;
}

/* The Magic */
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links > .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links > a:hover ~ .line {
	opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }

/* Slider styles */
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
} */

